@using static HandmadeByDoniApp.Common.GeneralApplicationConstants;
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Handmade By Doni</title>
     <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" /> 
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/leayout.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/HandmadeByDoniApp.styles.css" asp-append-version="true" />
</head>

<body>
    <div class="site">
        <header class="site-header">
            <nav class="header-navbar">             
                <div class="navbar-menu">
                    <ul class="menu">
                        <li>
                            <a  liasp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li>
                            <a  asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                    <div class="logo">
                        <a class="site-logo" asp-area="" asp-controller="Home" asp-action="Index">
                            <img class="img img-logo" src="~/Images/logo.webp" alt="Art">
                            </a>
                        <button type="button" data-bs-toggle="collapse" data-bs-target="navbar-collapse"
                                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            </button>
                    </div>
                    <div class="menu">
                      <partial name="_LoginPartial" />
                    </div>
                </div>
            </nav>
        </header>
        <div class="container-main">
            <main role="main" class="">
                @RenderBody()
            </main>
        </div>
        <footer class="site-footer">
            <div class="container-footer">
                    <p>&copy; Handmade By Doni  @ReleaseYear
                    @if (DateTime.UtcNow.Year != ReleaseYear)
                    {
                        @Html.Raw($" - {DateTime.UtcNow.Year}")
                        ;
                    }
                   </p>
                   <p>Web design by STTodorov</p>
                </div>
            </footer>
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
         <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script> 
        <script src="~/js/site.js" asp-append-version="true"></script>
        @await RenderSectionAsync("Scripts", required: false)
    </div>
</body>

</html>
