@using HandmadeByDoniApp.Web.Infrastructure.Extensions
@using static HandmadeByDoniApp.Common.GeneralApplicationConstants;
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Handmade By Doni</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/HandmadeByDoniApp.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/leayout.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/menu.css" asp-append-version="true" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.3/toastr.min.js" integrity="sha512-lbwH47l/tPXJYG9AcFNoJaTMhGvYWhVM9YI43CT+uteTRRaiLCui8snIgyAN8XWgNjNhCqlAUdzZptso6OCoFQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.3/toastr.min.css" integrity="sha512-6S2HWzVFxruDlZxI3sXOZZ4/eJ8AcxkQH1+JjSe/ONCEqR9L4Ysq5JdT5ipqtzU7WHalNwzwBv+iE51gNHJNqQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>

<body>
    <div class="site">
        <header class="site-header">
            <partial name="_NotificationsPartial" />
            <div class="logo">
                <a class="site-logo" asp-area="" asp-controller="Home" asp-action="Index">
                    <img class="img-logo" src="~/Images/logo.web.png">
                </a>
                <button type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="navbar-collapse"
                        aria-controls="navbarSupportedContent"
                        aria-expanded="false"
                        aria-label="Toggle navigation">
                </button>
            </div>
            <nav class="navbar-menu">
                <div class="left-menu">
                    <ul class="menu">
                        <li>
                            <a class="button-memu" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li>
                            <a class="button-memu" asp-area="" asp-controller="Product" asp-action="All">All</a>
                        </li>
                        @if (User.Identity?.IsAuthenticated ?? false)
                        {
                            <li>
                                <a class="button-memu" asp-area="" asp-controller="Order" asp-action="Mine"> <i class="fa-solid fa-cart-shopping"></i> Cart</a>
                            </li>

                            <li>
                                <a class="button-memu" asp-area="" asp-controller="Order" asp-action="OrderStatus">Order Status</a>
                            </li>
                        }
                    </ul>
                </div>
                <div class="right-menu">
                    <ul class="menu">
                        @if (User.IsAdmin())
                        {
                            <li>
                                <a class="button-memu">Admin Menu</a>
                                <ul>
                                    <li>
                                        <a class="button-memu" asp-area="Admin" asp-controller="Order" asp-action="UsersOrders">Newst Orders</a>
                                    </li>
                                    <li>
                                        <a class="button-memu" asp-area="Admin" asp-controller="User" asp-action="All">All User </a>
                                    </li>
                                </ul>
                            </li>

                            <li>
                                <a class="button-memu" asp-area="Admin" asp-controller="Product" asp-action="Add">Add New Products</a>                              
                            </li>
                        }
                        <partial name="_LoginPartial" />
                    </ul>
                </div>
            </nav>
        </header>
        <div class="container-main">
            <main role="main" class="">
                @RenderBody()
            </main>
        </div>
        <footer class="site-footer">
            <div class="container-footer">
                <p>
                    &copy; Handmade By Doni  @ReleaseYear
                    @if (DateTime.UtcNow.Year != ReleaseYear)
                    {
                        @Html.Raw($" - {DateTime.UtcNow.Year}")
                    }
                </p>
                <p>Web design by STTodorov</p>
            </div>
            <div class="social-media">
                <p class="text-center">Contact Us</p>
            <ul class="social-media-icons">
                <li>
                        <a href="https://www.facebook.com/people/%D0%A1%D1%80%D0%B5%D0%B4%D0%BD%D0%BE%D0%B2%D0%B5%D0%BA%D0%BE%D0%B2%D0%BD%D0%B8-%D1%87%D0%B0%D1%88%D0%B8-%D0%B7%D0%B0-%D0%B2%D0%B8%D0%BD%D0%BE/100087765588244/"><i class="fa-brands fa-square-facebook"></i></a>
                </li>
                <li>
                        <a href="#"><i class="fa-brands fa-google-plus"></i></a>
                </li>
                <li>
                        <a href="https://www.instagram.com/art_gift_by_doni?igsh=dmJkYncxaHdqcDg0"><i class="fa-brands fa-instagram"></i></a>
                </li>
            </ul>
    </div>
        </footer>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        @await RenderSectionAsync("Scripts", required: false)
    </div>
</body>

</html>
