@model SetFormModel
@{
    ViewData["Title"] = "Add Set";
}
<head>
    <link rel="stylesheet" href="~/css/Set/add-set.css" asp-append-version="true" />
</head>
<h2 class="text-center title">@ViewData["Title"]</h2>
<hr />

<partial name="_SetFormPartial" model="@Model" />

@section Scripts
{
    <partial name="_ValidationScriptsPartial" />
}

