@using HandmadeByDoniApp.Web.Resources
@model CommentFormModel
@{
    ViewData["Title"] = $"{App.Add} {App.Edit}";
}
<h2 class="text-center title">@ViewData["Title"]</h2>
<hr />

<div class="row">
    <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
        <form method="post">

            <div class="form-group">
                <label asp-for="Text"></label>
                <textarea asp-for="Text" rows="4" class="form-control"></textarea>
                <span asp-validation-for="Text" class="small textdanger"></span>
            </div>
            <div class="text-center">
                <input class="btn btn-primary mt-3" type="submit" value="@App.Submit" />
            </div>
        </form>
    </div>
</div>
@section Scripts
{
    <partial name="_ValidationScriptsPartial" />
}
