@using HandmadeByDoniApp.Web.Resources
@model ProductFormModel
@{
    ViewData["Title"] = $"{App.L("Edit")} {App.L("Product")}";
}
<h2 class="text-center title">@ViewData["Title"]</h2>
<hr />

<partial name="_ProductFormPartial" model="@Model" />


@section Scripts
{
    <partial name="_ValidationScriptsPartial" />
}
