@using HandmadeByDoniApp.Web.Resources
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<App> L
@model ProductFormModel
@{
    ViewData["Title"] = $"{L["Edit"]} {L["Product"]}";
}
<h2 class="text-center title">@ViewData["Title"]</h2>
<hr />

<partial name="_ProductFormPartial" model="@Model" />


@section Scripts
{
    <partial name="_ValidationScriptsPartial" />
}
