@model DecanterFormModel
@{
    ViewData["Title"] = "Edit Decanter";
}
<h2 class="text-center title">@ViewData["Title"]</h2>
<hr />

<partial name="_DecanterFormPartial" model="@Model" />


@section Scripts
{
    <partial name="_ValidationScriptsPartial" />
}
