
.card-product {
    display: flex;
    flex-direction: row;
  
    gap: 1em;
    justify-content: space-evenly;
    flex-wrap: wrap;


}
.card {
    border: 0px solid rgba(0, 0, 0, .125);
}

.min-card
{
   /* border: 2px solid black ;*/
   border-radius: 1em;
    
}
.card-body {
    display: flex;
    justify-content: center;
    border-radius: 1em;
}
.img
{
    max-height: 80%;
    min-height: 80%;
}
