@using HandmadeByDoniApp.Web.Resources
@model AddressFormModel
@{
    ViewData["Title"] = $"{App.Add} {App.Address}";
}
<h2 class="text-center title">@ViewData["Title"]</h2>
<hr />

<partial name="_AddressFormPartial" model="@Model" />

@section Scripts
{
    <partial name="_ValidationScriptsPartial" />
}
