@model GlassFormModel
@{
    ViewData["Title"] = "Edit Glass";
}
<h2 class="text-center title">@ViewData["Title"]</h2>
<hr />

<partial name="_GlassFormPartial" model="@Model" />


@section Scripts
{
    <partial name="_ValidationScriptsPartial" />
}
