.comment-section{
    flex-grow: 1;
}
.write-comment{
  padding-bottom: 1em;
}

.card-comment{
   
    border: 2px solid black;
    border-radius: 10px ;

}
.comment-title{
    display: flex;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
    background-color: rgb(211, 77, 37);
    color: white;
    border-radius: 10px;

}
.card-comment h4{
  padding:0.5em 1em;
}
.comment-title p{
    color: lightgray;
}
.comment-text{
   padding-left: 4em;
   border-bottom: 1px solid black;
   
   border-radius: 10px ;
}
.comment-comment{
  padding-left: 2em;
}
.card-all {
    margin-bottom: 1em;
    border-radius: 1em;
}


.summary[open]:hover{
  
}