@import "../fontawesome-free-6.5.1-web/fontawesome-free-6.5.1-web/css/all.css";

.site {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* header */
.site-header {
  position: relative;
  /*
 border-bottom: 2px solid black;
*/
}

.navbar-menu {
  padding: 2em 1em;
}

.navbar-menu,
.left-menu,
.right-menu,
.menu,
.loginPartial-menu {
  display: flex;
  gap: 1em;
  align-items: center;
  justify-content: space-between;
}

.left-menu {
  justify-content: start;
}

.right-menu {
  justify-content: end;
}

.navbar-menu,
.menu {
  font-size: 1em;
}

.navbar-menu-img {
 background-image: url(//img.pikbest.com/wp/202345/painted-rainbow-wine-glasses-painting-on-a_9586196.jpg!w700wp);
  background-position: 0% 35%;


}

.logo {
  position: absolute;
  max-width: 150px;
  top: 0;
  left: 50.5%;
}

.logo button {
  display: none;
}

.img-logo {
  transform: translate(-50%, -14%);
  max-width: 150px;
}

.img-logo:hover {
  max-width: 230px;
  transform: translate(-50%, -19%);
}

.header-navbar {
  /* border: 6px solid green; */
}

.navbar-menu {
  /* border: 6px solid gray; */
}

.menu {
    /* border: 3px solid black; */
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
}

.menu li {
  list-style: none;
  color: black;
}


/* main */
.container-main {
  flex-grow: 1;
  padding: 1.5em 2em;
}

.title {
    margin-top: 1em;
    padding: 0.2em;
    background-color: rgb(211, 77, 37);
    color: white;
    box-shadow: 0 -6px 10px -2px rgba(0,0,0,0.2), 0 6px 10px -2px rgba(0,0,0,0.2);
}

.product-comment {
  display: flex;
  gap: 1em;
}

/* footer */
.site-footer {

  border-top: 2px solid black;
  background-color: gray;
}

.site-footer,
.container-footer {
  display: flex;
  font-size: 1em;
}

.site-footer{
  justify-content: space-between;
  align-items: center;
}

.container-footer {
  flex-basis: 40%;
  flex-direction: column;
  padding: 0.5em 1em;
  color: lavender;
}
.social-media{
  
}
.social-media-icons{
  display: inline-block;
}
.social-media-icons li{
  list-style-type: none;
  padding-right: 1rem;
   display: inline;
}
.social-media-icons i{
  font-size: 1.2rem;
    margin: 1rem;
    color:  rgb(32, 31, 31);
    font-size: 2em;
}
a:hover .fa-square-facebook
{
    color: rgb(15, 15, 189);  
}

a:hover .fa-google-plus
{
    color: red;
}

a:hover .fa-instagram
{
    color: rgb(234, 236, 236);
}
.white-globe {
    filter: invert(1); /* ѕреобразува цветовете (за черна икона ще € направи б€ла) */
}

/*.menu-toggle {
    display: none;
    background-color: #C16519;
    color: white;
    padding: 0.5em 1em;
    border: none;
    font-size: 1.2em;
    cursor: pointer;
}

.mobile-menu {
    display: none;
    flex-direction: column;
    gap: 1em;
    background-color: #f7f7f7;
    padding: 1em;
}

    .mobile-menu a {
        text-decoration: none;
        color: #333;
    }

@media (max-width: 1430px) {
    .menu-toggle {
        display: block;
    }

    .left-menu, .right-menu {
        display: none;
    }

    .mobile-menu.show {
        display: flex;
    }
}*/
.menu-toggle {
    display: none;
    background-color: #C16519;
    color: white;
    padding: 0.5em 1em;
    font-size: 1.2em;
    border: none;
    border-radius: 0.3em;
    cursor: pointer;
    margin: 0em;
    top: 1.5em;
    left: 1em;
    position: relative;
    z-index: 2;
}

.mobile-menu {
    display: none;
    position: absolute;
    top: 4.8em; /* разсто€ние под бутона */
    left: 0em; /* леко вл€во */
    background-color: #f9f9f9;
    padding: 1em;
    box-shadow: 0 2px 5px rgba(0,0,0,0.15);
    border-radius: 0.5em;
    z-index: 1;
    max-width: 30% 
}

    .mobile-menu ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .mobile-menu li {
        margin-bottom: 0.7em;
    }

    .mobile-menu.show {
        display: block;
    }

/* ѕоказва бутона и скрива десктоп менюта при мобилен изглед */
@media (max-width: 1430px) {
    .menu-toggle {
        display: block;
    }

    .left-menu,
    .right-menu {
        display: none;
    }
}