.site {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* header */
.site-header {
  position: relative;
  /*
 border-bottom: 2px solid black;
*/
}

.navbar-menu {
  padding: 2em 1em;
}

.navbar-menu,
.left-menu,
.right-menu,
.menu,
.loginPartial-menu {
  display: flex;
  gap: 1em;
  align-items: center;
  justify-content: space-between;
}

.left-menu {
  justify-content: start;
}

.right-menu {
  justify-content: end;
}

.navbar-menu,
.menu {
  font-size: 1em;
}

.navbar-menu {
  background-image: url(//img.pikbest.com/wp/202345/painted-rainbow-wine-glasses-painting-on-a_9586196.jpg!w700wp);
  background-position: center;
  background-size: contain;
}

.logo {
  position: absolute;
  max-width: 150px;
  top: 0;
  left: 50%;
}

.logo button {
  display: none;
}

.img-logo {
  transform: translate(-50%, -15%);
  max-width: 150px;
}

.img-logo:hover {
  max-width: 250px;
  transform: translate(-50%, -15%);
}

.header-navbar {
  /* border: 6px solid green; */
}

.navbar-menu {
  /* border: 6px solid gray; */
}

.menu {
  /* border: 3px solid black; */
}

.menu li {
  list-style: none;
  color: black;
}


/* main */
.container-main {
  flex-grow: 1;
  padding: 1.5em 2em;
}

.title {
  margin-top: 0.5em;
  padding: 0.2em;
  background-color: rgb(211, 77, 37);
  color: white;

}

/* footer */
.site-footer {

  border-top: 2px solid black;
  background-color: gray;
}

.site-footer,
.container-footer {
  display: flex;
  font-size: 1em;
}

.container-footer {
  flex-basis: 40%;
  flex-direction: column;
  padding: 0.5em 1em;
  color: lavender;
}