.navbar-menu ul ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0%;
    padding: 0.1em ;
}
.navbar-menu ul ul ul { 
    top: 0%;
    left: 100%;
    margin-top: -0.1em;
}
.navbar-menu ul ul li{
    padding: 0.1em;
}
.navbar-menu >ul >li{
    display: inline-block;
}
.navbar-menu li{
    display: block;
    /*padding: 0.5em;*/
    position: relative;
   
}
.navbar-menu li:hover>ul{
    display: block;
}


.button-memu{
    display: block;
    background-color: rgb(185, 60, 10);
    color: #fff;
    padding: 0.5em 1em;
    border-radius: 0.3em;
}
.navbar-menu li:hover>.button-memu,
.button-memu:hover{

    background-color: rgb(182, 118, 93);
    color: white;
}
