* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  font-size: 14px;

}

body {
  box-sizing: inherit;
  font-family: inherit;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}
a{
  text-decoration: none;
}
@import url(leayout.css);
@import url(menu.css);